@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@layer base {
  .outline-primary-20 {
    outline-color: var(--primary);
    outline-width: 1px;
   
    outline-offset: 0;
  }

  * {
    @apply outline-primary-20;
  }

  .v2 * {
    outline: none;
  }
}
